/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
*{
  box-sizing: border-box;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}


.menu-icon-wrapper,
.wrapper-icon-social,
a.mailto{
  padding-top: 27px;
  display: inline-block;
  vertical-align: top;
  margin-right: 60px;
}
.wrapper-icon-social a{
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
}
.menu-icon-wrapper a{
  display: block;
  outline: none;
}
a.mailto{
  margin-right: 0;
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  padding: 27px 0 15px 65px;
  background: url("../img/phone.svg") no-repeat left 17px;
}
a.logo{
  position: absolute;
  top: 0;
  left: calc(50% - 60px);
  z-index: 2;
}
header.header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  padding-bottom: 16px;
  background: #ffffff;
}
.first-section{
  min-height: 100vh;
  width: 100%;
  background: url("../img/main-image.svg") no-repeat center bottom;
}
.title-section{
  position: absolute;
  left: calc(50% - 118px);
  top: 187px;
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  /* identical to box height */
  text-align: center;
  color: #000000;
}
.scroll-link{
  position: absolute;
  width: 87px;
  height: 20px;
  bottom: 75px;
  right: 0;
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #DC0B07;
  transform: rotate(-90deg);
}
.second-section{
  padding-top: 92px;
  padding-bottom: 90px;
  background: #1A1B20;
  position: relative;
}
.second-section .wrapper-men{
  padding-left: 160px;
}
.second-section .wrapper-men .title-wrapper{
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 66px;
  line-height: 76px;
  color: #FFFFFF;
  margin-bottom: 64px;
}
.second-section .wrapper-men .title-wrapper>span{
  display: block;
}
.second-section .wrapper-men .title-wrapper>span.bg-text-red{
  display: inline-block;
  background: #DC0B07;
}
.second-section .wrapper-img{
  padding-top: 97px;
  padding-left: 155px;
  background: url("../img/line_at_man.svg") no-repeat left top;
}
.row-block{
  position: relative;
  padding-left: 125px;
  margin-bottom: 17px;
}

.row-block:before{
  position: absolute;
  top: 0;
  left: 60px;
  height: 1px;
  width: 50px;
  border-top: 1px solid #BCBCBC;
  content: '';
  display: block;
  transition: .5s linear;
}
.row-block:hover:before{
  border-top: 1px solid #DC0B07;
  left: 15px;
  width: 95px;
  transition: .5s linear;
}
.row-block:after{
  position: absolute;
  top: 38px;
  left: 90px;
  height: 38px;
  width: 20px;
  border-top: 1px solid #BCBCBC;
  border-bottom: 1px solid #BCBCBC;
  content: '';
  display: block;
}
.row-block .hover-text{
  position: absolute;
  right: 100%;
  top: 0;
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 46px;
  text-align: center;
  text-transform: capitalize;
  color: #DC0B07;
  z-index: 10;
  opacity: 0;
  transition: opacity .5s linear;
}
.row-block:hover .hover-text{
  transition: opacity .5s linear;
  opacity: 1;
}
.row-block .big-text{
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #CCCCCC;
  margin-bottom: 7px;
}
.row-block:hover .big-text{
  color: #DC0B07;
}
.row-block .big-text .small{
  font-size: 22px;
  padding-top: 8px;
}
.row-block .description{
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #AAAAAA;max-width: 84%;
  min-height: 60px;
}
.row-block:hover .description{
  font-weight: 600;
  color: #FFFFFF;
}
.after-second{
  position: absolute;
  right: 0;
  width: 100%;
  max-width: 345px;
  height: 288px;
  background: #ffffff;
  bottom: 0;
  text-align: center;
}
.after-second svg{
  display: inline-block;
  max-width: 100%;
  height: auto;
  margin-top: -100px;
}
.third-section{
  padding-top: 80px;
  padding-bottom: 80px;
}
.third-section .title{
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 66px;
  line-height: 76px;
  color: #1A1B20;
  margin-bottom: 70px;
}
.third-section .title .bg-text-red{
  display: inline-block;
  background: #DC0B07;
  color: #ffffff;
}
.wrapper-service{
  padding-left: 184px;
  padding-right: 184px;
}
.wrapper-service .icon-img{
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
  transition: opacity .5s linear;
}
.wrapper-service .title-flip{
  position: absolute;
  left: 30px;
  right: 30px;
  height: 30px;
  bottom: 30px;
  min-height: 100px;
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #FFFFFF;
  text-align: left;
  opacity: 1;
  transition: opacity .5s linear;
}
/** FLIPER */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 532px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin-bottom: 30px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .icon-img,
.flip-card:hover .title-flip{
  opacity: 0;
  transition: opacity .5s linear;
}
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background: rgba(220, 11, 7, 0.5);
  color: white;
  transform: rotateY(180deg);
  padding: 30px;
}
.flip-card-back .title-back{
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  margin-bottom: 10px;
  color: #FFFFFF;
}
.flip-card-back ul{
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  list-style: square;
  margin-left: 0;
  color: #FFFFFF;
  padding-left: 18px;
}
.flip-card-back ul li{
  margin-bottom: 10px;
}
.flip-card-back a.btn-more{
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding: 5px 20px 5px 20px;
  position: absolute;
  right: 30px;
  bottom: 30px;
}
.flip-card-back a.btn-more:after{
  content: '';
  display: block;
  left: -10px;
  width: 20px;
  height: 1px;
  background: #ffffff;
  position: absolute;
  top: 50%;
}
.flip-card-back a.btn-more>span{
  display: block;
  width: 60%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: -3px;
  border: 1px solid #ffffff;
  border-left: none;
  text-decoration: none;
}

.for-section{
  padding-top: 10px;
  padding-bottom: 30px;
  background: url("../img/for-section.jpg") no-repeat 10vw bottom;
}
.for-section:after{
  content: '';
  display: block;
  clear: both;
}
.for-section .item{
  width: 33.333%;
  position: relative;
  text-align: center;
  height: 205px;
  border: 1px solid #cecece;
  float: left;
  z-index: 2;
  margin: 0 0 0 -1px;
}
.for-section .item.no-photo{
  border: 1px solid #ffffff;
  z-index: 1;
}
.for-section .item.bg-no-border{
  border: 1px solid #F4F4F4;
  background: #F4F4F4;
  z-index: 1;
}
.for-section .item.logo-russkoe-more{
  padding-top: 45px;
}
.for-section .item.unnamed1{
  padding-top: 15px;
}
.for-section .item.logo-dikaya-orhideya{
  padding-top: 60px;
}
.for-section .item.transaero{
  padding-top: 75px;
}
.for-section .item.logo-mirax-group{
  padding-top: 25px;
}
.for-section .item img{
  max-height: 100%;
  max-width: 90%;
  width: auto;
  height: auto;
  margin: 0 auto;
}
.for-section  .title-wrapper-block .title{
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 66px;
  line-height: 76px;
  color: #1A1B20;
}
.for-section  .title-wrapper-block .title .bg-text-red{
  display: inline-block;
  background: #DC0B07;
  color: #ffffff;
}
.for-section  .title-wrapper-block .title .title{
  color: #DC0B07;
}
/*
  font-family: 'Gilroy', sans-serif;
*/
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

